@import "../../../../utils/variables";

.file {
  margin: 10px 0;
  border-bottom: solid 2px var(--main-color);
  display: grid;
  grid-template: 1fr /1fr 4fr repeat(4, 1fr);
  align-items: center;

  &:hover {
    transform: scale(1.02);
  }
  &__img {
    justify-self: center;
  }

  &__date {
    grid-column-start: 5;
    justify-self: center;
    transition: all 0.3s linear;
  }
  &__size {
    grid-column-start: 6;
    justify-self: center;
    transition: all 0.3s linear;
  }
  &__btn {
    display: block;
    width: 58px;
    height: 34px;
    border: 1px solid var(--main-color);
    border-radius: 37px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
    &.download {
      grid-column-start: 3;
      grid-row-start: 1;
      justify-self: center;
      background: url("../../../../assets/img/vector.svg") no-repeat center
        center;
    }
    &.delete {
      grid-column-start: 4;
      grid-row-start: 1;
      justify-self: center;
      background: url("../../../../assets/img/backet.svg") no-repeat center
        center;
    }
  }
  &:hover &__date {
    grid-column-start: 3;
    transition: all 0.3s linear;
  }
  &:hover &__size {
    grid-column-start: 4;
    transition: all 0.3s linear;
  }
  &:hover .download {
    visibility: visible;
    opacity: 1;
    grid-column-start: 5;
    transition: all 0.3s linear;
  }
  &:hover .delete {
    visibility: visible;
    opacity: 1;
    grid-column-start: 6;
    transition: all 0.3s linear;
  }
}
