@import "../../utils/variables";

.disk {
  width: 100%;
  margin-top: 20px;
  &__btns {
    display: flex;
    align-items: center;
    button {
      color: var(--main-color);
    }
  }
  &__create {
    display: block;
    cursor: pointer;
    padding: 9px;
    border: 1px solid #566885;
    box-sizing: border-box;
    border-radius: 14px;
    margin-left: 10px;
  }
  &__upload {
    margin-left: 10px;
  }
  &__file {
    display: none;
  }
  &__label {
    display: block;
    border: 2px dashed var(--main-color);
    padding: 5px 10px;
    cursor: pointer;
  }
  &__back {
    width: 70px;
    height: 35px;
    border: 1px solid var(--main-color);
    border-radius: 37px;
    background: url("../../assets/img/back.svg") no-repeat center center;
  }
  &__select {
    display: block;
    margin-left: auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 12px;
  }
  &__list,
  &__plate,
  &__slab {
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    background: no-repeat center center / contain;
    margin: 0 10px;
  }
  &__list {
    background-image: url("../../assets/img/list.svg");
  }
  &__plate {
    background-image: url("../../assets/img/plate.svg");
  }
  &__slab {
    background-image: url("../../assets/img/slab.svg");
  }
}
.drop-area {
  width: 80%;
  margin: 0 auto;
  margin: 20px;
  height: calc(100vh - 50px - 40px);
  border: 3px dashed var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: var(--main-color);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
